.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  text-align: center;
  padding: 2rem;
  color: var(--ion-color-medium);
}

ion-thumbnail {
  --border-radius: 8px;
}
